.container{
    width: 100%;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.cardsContainer{
    display: flex;
    gap: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.paginationButtonsContainer{
    display: flex;
    gap: 8px;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}

.paginationButtons{
    border: none;
    color: rgb(43, 42, 42);
    background-color: white;
    border: 1px solid #E8AE00;
    border-radius: 12px;
    height: 56px;
    width: 56px;
}

.paginationButtons:disabled{
    color: #a5afb7;
    border-color: #a5afb7;
    cursor: not-allowed;
}

.paginationButtons:not(:disabled):hover{
    background-color: #E8AE00;
    color: white;
    cursor: pointer;
}

.messageText{
    text-align: center;
    color: #3c3e3f;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    color: tomato;
}


.invisible{
    min-width: 1000px;
}

.messageText{
    text-align: center;
    color: #3c3e3f;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    color: tomato;
}
