@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');


.container{
    width: 393px;
    height: 484px;
    border-radius: 12px;
    padding-bottom: 16px;
    border-radius: 12px ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.container:hover{
    transform: scale(1.1)
}

.cardImgDiv{
    width: 100%;
    height: 292px;
    position: relative;
}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 12px;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    height: 160px;
    gap: 16px;
    align-items: center;
    padding: 0px 16px;
    margin-top: 16px;
    width: 100%;
}

.info{
    flex-direction: column;
    display: flex;
    gap: 4px;
    height: 88px;
    width: 100%;
}

.priceAndStatusContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status{
    color: tomato;
    font-weight: 500;
    font-size: 20px;
}

.price{
    font-family: 'Exo', sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
}

.type{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #135966;
    font-weight: 600;
}

.location{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
    font-weight: 400;
}

.features{
    display: flex;
    padding: 16px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0E0F;
    border-radius: 12px;
    width: 100%;
    color: white;
}

.featureContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.favouriteButton{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.favouriteButton:hover{
    background-color: tomato;
    color: white;
    cursor: pointer;
}

@media (min-width:520px) and (max-width:960px){
    .container{
        width: 341px;
    }
}

@media (max-width:520px){
    .container{
        width: 343px;
        height: 380px;
    }
    .cardImgDiv{
        height: 208px;
    }
    .infoContainer{
        height: 140px;
    }
    .info{
        height: 84px;
    }
    .features{
        padding: 8px;
    }
    .price{
        font-size: 20px;
        line-height: 28px;
    }
}