@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');

.mainDev {
    background-color: whitesmoke;
}

.homeImg {
    width: 100%;
    height: 600px;
    filter: contrast(90%);
    border-radius: 0px 0px 25px 25px;
}

.headerOverlay {
    position: absolute;
    top: 40%;
    left: 100px;
    width: 500px;
    color: #fff; /* Set text color */
    font-size: 60px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif; /* Choose a suitable font-family */
    font-weight: bold; /* Adjust font weight if necessary */
    z-index: 1; /* Ensure text is above the image */
}

.textOverlay {
    position: absolute;
    top: 60%;
    left: 100px;
    width: 600px;
    color: #fff; /* Set text color */
    font-size: 25px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif; /* Choose a suitable font-family */ /* Adjust font weight if necessary */
    z-index: 1; /* Ensure text is above the image */
}

.searchDev {
    position: absolute;
    top: calc(700px * .915);
    left: 100px;
    width: 48%;
    background-color: white;
    gap: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 0px 16px 0px 16px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}

.inputAndDeleteDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.searchInput {
    height: 40px;
    width: 100%;
    margin-right: -10%;
    border-radius: 12px;
    border: #FFB300;
    border: 1px solid #FFB300;
    text-indent: 20px;
    font-size: 15px;
}

.removedIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nonRemovedIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearInputButton {
    font-size: small;
    background-color: #FFF9E6;
    border-radius: 50%;
    position: relative;
    left: -5%;
    border: none;
    display: flex;
    align-items: center;
    z-index: 3;
    cursor: pointer;
    &:hover {
        background-color: #FFB300;
    }
}

.searchButton {
    width: 20%;
    height: 40px;
    background-color: #FFB300;
    border-radius: 12px;
    border: 1px solid #FFB300;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background-color: white;
    }
}

.searchBarDev {
    width: 20%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #FFB300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:hover {
        background-color: #FFF9E6;
    }
}

.searchBarLabel {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.properties {
    padding: 50px 0px 50px 100px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 100px;
    width: calc(100% - 100px);
}

.cards {
    width: 100%;
    height: 730px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 50px;
}

.buttonsScrollDev {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    gap: 7px;
}

.scrollButton {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #FFB300;

    &:hover {
        background-color: #ff9900;
    }
}

.chooseUsDev {
    padding: 20px 0px 50px 100px;
    background-color: #EBFFFD;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.featuresDev {
    column-gap: 190px;
    row-gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.reviewDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 70px;
    
}

.goToReviewsPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    
    padding: 20px 100px 20px 100px;
}

.peopleReviews {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.reviewsTitle {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.goToReviewsPageButton {
    height: 50px;
    width: 140px;
    border-radius: 12px;
    background-color: #01B8C6;
    border: 1px solid #01B8C6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    &:hover {
        background-color: white;
    }
}

@media only screen and (max-width: 1200px) {
    .removedIcon {
        display: none;
    }

    .clearInputButton {
        left: -10%;
    }

    .peopleReviews {
        justify-content: center;
    }
    
}

@media only screen and (max-width: 900px) {
    .homeImg {
        width: 100%;
        height: 500px;
        filter: contrast(90%);
        border-radius: 0px 0px 25px 25px;
    }
    .headerOverlay {
        position: absolute;
        top: 30%;
        left: 20px;
        width: 500px;
    }
    .textOverlay {
        position: absolute;
        top: 50%;
        left: 20px;
        width: 500px;
    }
    .searchDev {
        top: 75%;
        left: 20px;
        width: 60%;
        z-index: 2;
    }
    .removedIcon {
        display: none;
    }
    .clearInputButton {
        left: -10%;
    }
    .searchInput {
        height: 40px;
        width: 100%;
        margin-right: -12%;
        border-radius: 12px;
        border: #FFB300;
        border: 1px solid #FFB300;
        text-indent: 5px;
        font-size: 15px;
    }
    
    .removedIcon {
        display: none;
    }
    
    .clearInputButton {
        border-radius: 50%;
        position: relative;
        left: -7%;
        border: none;
        display: flex;
        align-items: center;
        z-index: 3;
    }
    
    .searchButton {
        width: 70px;
        height: 40px;
    }
    .properties {
        padding: 50px 0px 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 20px;
    }
    
    .cards {
        width: 1280px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .buttonsScrollDev {
        display: flex;
        align-items: center;
        padding-right: 0px;
    }
        
    .chooseUsDev {
        padding: 0px 0px 0px 0px;
        background-color: #EBFFFD;
        width: 100%;
        height: 820px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .featuresDev {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .reviewDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .goToReviewsPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .peopleReviews {
        justify-content: center;
    }
    
    .reviewsTitle {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 710px) {
    .homeImg {
        width: 100%;
        height: 300px;
        filter: contrast(90%);
        border-radius: 0px 0px 25px 25px;
    }
    .headerOverlay {
        position: absolute;
        top: 20%;
        left: 20px;
        width: 300px;
        font-size: 30px;
    }
    .textOverlay {
        position: absolute;
        top: 30%;
        left: 20px;
        width: 400px;
        font-size: 20px;
    }
    .searchDev {
        position: static;
        height: 120px;
        width: 80%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .removedIcon {
        display: none;
    }
    .searchInput {
        height: 40px;
        width: 100%;
        border-radius: 12px;
        border: #FFB300;
        border: 1px solid #FFB300;
        text-indent: 18px;
        font-size: 15px;
        margin-right: -7%;
    }

    .inputAndDeleteDiv {
        width: 100%;
        grid-column: span 3;
    }
    
    .removedIcon {
        display: none;
    }
    
    .clearInputButton {
        position: relative;
        left: -5%;
        display: flex;
        align-items: center;
        z-index: 3;
    }
    
    .searchButton {
        height: 40px;
        width: 100%;
        &:hover {
            background-color: #ff9900;
        }
    }
    .searchBarDev {
        width: 100%;
        height: 40px;
        border-radius: 12px;
        border: 1px solid #FFB300;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &:hover {
            background-color: #FFF9E6;
        }
        grid-column:span 2;
    }
    .properties {
        padding: 50px 0px 50px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .cards {
        width: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
    }
    
    .buttonsScrollDev {
        display: flex;
        align-items: center;
        padding-right: 0px;
    }
        
    .chooseUsDev {
        padding: 0px 0px 0px 0px;
        background-color: #EBFFFD;
        width: 100%;
        height: 820px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .featuresDev {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reviewDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .reviewsTitle {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
    }

    .peopleReviews {
        justify-content: center;
    }
}