@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');

.mainDev {
    background-color: whitesmoke;
    height: 1500px;
}

.homeImg {
    width: 100%;
    height: 600px;
    filter: contrast(90%);
    border-radius: 0px 0px 25px 25px;
}

.headerOverlay {
    position: absolute;
    top: 40%;
    left: 100px;
    width: 500px;
    color: #fff; /* Set text color */
    font-size: 60px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif; /* Choose a suitable font-family */
    font-weight: bold; /* Adjust font weight if necessary */
    z-index: 1; /* Ensure text is above the image */
}

.textOverlay {
    position: absolute;
    top: 60%;
    left: 100px;
    width: 600px;
    color: #fff; /* Set text color */
    font-size: 25px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif; /* Choose a suitable font-family */ /* Adjust font weight if necessary */
    z-index: 1; /* Ensure text is above the image */
}

.searchDev {
    position: absolute;
    top: 86.5%;
    left: 100px;
    width: 700px;
    background-color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}

.searchInput {
    height: 40px;
    width: 250px;
    border-radius: 12px;
    border: #FFB300;
    border: 1px solid #FFB300;
    text-indent: 20px;
    font-size: 15px;
}

.clearInputButton {
    position: absolute;
    left: 490px;
    font-size: small;
    background-color: #FFF9E6;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
}

.searchButton {
    width: 120px;
    height: 40px;
    background-color: #FFB300;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: #ff9900;
    }
}

.searchBarDev {
    width: 100px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #FFB300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:hover {
        background-color: #FFF9E6;
    }
}

.searchBarLabel {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.properties {
    padding: 50px 0px 50px 0;
    height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 100px;
}

.cards {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonsScrollDev {
    position: relative;
    left: 1171px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scrollButton {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #FFB300;

    &:hover {
        background-color: #ff9900;
    }
}

.chooseUsDev {
    position: absolute;
    padding: 0px 0px 0px 100px;
    top: 190%;
    background-color: #EBFFFD;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.featuresDev {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 190px;
    row-gap: 20px;
}