.mainDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-color);
    backdrop-filter: blur(4px);
    z-index: 10;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterDiv {
    width: 40%;
    min-width: 400px;
    height: 650px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
}

.titleDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.closeButton {
    font-size: small;
    background-color: #FFF9E6;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background-color: #FFB300;
    }
}

.closeButtonSmallerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallChooseDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
}

.smallerChoosediv {
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 100%;
    justify-content: space-between;
}

.smallSelect {
    height: 40px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #FFB300;
    text-indent: 5px;
    cursor: pointer;
}

.bigChooseDiv {
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 100%;
    justify-content: space-between;
}

.bigSelect{
    height: 40px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #FFB300;
    text-indent: 5px;
    cursor: pointer;
}

.sortMainDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 130px;
}

.sortDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20%;
}

.radioDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6%;
    width: 100%;
}

.resetButton {
    height: 50px;
    border: 1px solid #FFB300;
    width: 47%;
    border-radius: 12px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    &:hover{
        background-color: blanchedalmond;
    }
}

.updateButton {
    height: 50px;
    border: 1px solid #FFB300;
    width: 47%;
    border-radius: 12px;
    background-color: #FFB300;
    font-size: 20px;
    cursor: pointer;
    &:hover{
        background-color: #ff9500;
    }
}