@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');

.container {
    font-size:25px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
}

.menuDev {
    display: none;
}

.labelsContainer {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    color: #0D0E0F;
    padding: 5px 10px;
    &:hover {
        background-color: #E8AE00;
    }
}

.button {
    background-color: #E8AE00;
    /* padding: 0px 16px 0px 16px; */
    border-radius: 12px;
    height: 50px;
    width: 150px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    color: black;
    cursor: pointer;
    font-weight: 400;
    &:hover{
        background-color: white;
        border: 1px solid #E8AE00;
    }
}

.button :hover {
    background-color: chocolate;
}

.logoDev {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img {
    width: 50px;
    height: 50px;
}

.menuButton {
    background-color: white;
    cursor: pointer;
    border: none;
}

@media only screen and (max-width: 900px) {
    .container {
        background-color: white;
        padding: 20px 20px 20px 20px;
    }
    .labelsContainer {
        display: none;
    }
    .label {
        display: none;
    }
    .button {
        display: none;
    }
    .menuDev {
        display: flex;
    }
}